# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# VS_folder
.vs/

# Exe_files
x64/


# Compiled ready files

!files_to_use/Debug/ukrString.dll
!files_to_use/Release/ukrString.dll

!files_to_use/Debug/ukrString.lib
!files_to_use/Release/ukrString.lib

!files_to_use/include/ukrString.h




