# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# VS_folder
.vs/

# Exe_files
x64/

# Compiled ready files

!files_to_use/dlls/Debug/ukrString.dll
!files_to_use/dlls/Release/ukrString.dll

!files_to_use/include/ukrString.h

!files_to_use/libs/Debug/ukrString.lib
!files_to_use/libs/Release/ukrString.lib

!files_to_use/obj files/Debug/ukrString.obj
!files_to_use/obj files/Debug/pch.obj

!files_to_use/obj files/Release/ukrString.obj
!files_to_use/obj files/Release/pch.obj

